*{
       padding: 0;
       margin: 0;
       font-family: 'Work Sans', sans-serif;
}

body{
       background-image: url('textura.jpg');
       background-color: rgb(200, 186, 61) ;
       background-size: cover;
       background-repeat: no-repeat;
       background-attachment: fixed;
}

div.fondodiv {
       background-color: lightseagreen;
       width: 30%;
       height: 100%;
       position: relative; left: 35%; top: 30px;
       border-radius: 10px;
       box-shadow: 8px 8px 6px #3f3f3f;
}

header {
       background-image: url(biblioteca.png);
       background-size: 100%;
       background-repeat: no-repeat;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;    
       border-top-left-radius: 10px;   
       border-top-right-radius: 10px;
}
i{
       margin-top: 25px;
}

h1 {
       padding-top: 20px;
       font-size: 15px;
       color: white;
}

form{
       font-size: 12px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding-bottom: 20px;
}

label{
       display: block;
       padding: 1px;
}

input, textarea{
       padding: 5px;
       background-color:inherit;
       border: none;    
       border-bottom: solid 1.5px white;  

}
input::placeholder {
       color: black;
     }


select{
       background-color: rgb(60, 200, 193);
       border: none;

}

button{

       padding: 10px;
       margin-left: 15%;
       background-color: rgb(60, 200, 193);
       border-radius: 10px;
       border: 1px;
       color: black;
       font-weight: bold;
       box-shadow: inset 1px 1px gold;
}

button:hover {
       padding: 10px;
       margin-left: 15%;
       background-color: rgb(16, 65, 63);
       color: white;
       border-radius: 10px;
       border:none;
}


input#chek {
       width:0;
       cursor: default;
       appearance: auto;
       box-sizing: border-box;
       display: inline-block;
}